* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root
{
  --width :135px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.game-info {
  border: 1px solid #939393;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 20px 10px;
  flex-wrap: wrap;
  gap: 20px;
  font-weight: 500;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.game-over , .new-game {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-color: #1c2f3e85;
}
.game-over .pop-up, .new-game .pop-up {
  width: 400px;
  height: 250px;
  background-color: #00b1a0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  gap: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  user-select: none;
}
.game-over .pop-up p ,.new-game .pop-up p {
  color: white;
  background-color: #ff5d5d;
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.game-over .pop-up .re,.new-game .pop-up .new {
  color: white;
  background-color: #007d99;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.game-over .pop-up .re span,.new-game .pop-up .new span
{
  font-size: 30px;
}
.container {
  display: flex;
  margin: 20px auto;
  flex-wrap: wrap;
  padding: 0 450px;
  justify-content: center;
  gap: 10px;
}
.container img {
  width: 100%;
  background-color: #324452;
}
.container .box {
  position: relative;
  transform-style: preserve-3d;
  border: 4px solid rgb(25, 117, 255);
  width: var(--width);
  height: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.container .box.flip,
.container .box.match {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.container .box div {
  position: absolute;
 width:100%;
 height:100%;
}

.container .box .back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.start {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #70d4ebcf;
  z-index: 2;
  top: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.start div {
  position: relative;
  margin: auto;
  top: 30%;
  color: white;
  background-color: #ff532c;
  font-size: 30px;
  padding: 10px;
  font-weight: 600;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  width: fit-content;
  user-select: none;
  cursor: pointer;
}
@media (max-width:1500px) {
  .container{
    padding: 0 300px;
  }
  
}
@media (max-width:1200px) {
  .container{
    padding: 0 230px;
  }
  
}
@media (max-width:1000px) {
  .container{
    padding: 0 130px;
  }
  
}
@media (max-width:850px) {
  .container{
    padding: 0 50px;
  }
  
}
@media (max-width:700px) {
  .container{
    padding: 0 0px;
    
  }
  :root
  {
    --width :80px;
  }
  
}
